 /* .my-modal  {
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  background: transparent
  } */

.rect-white-tab {
  height: 50px;
  opacity: 0.91;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(135deg, #2DC9EB 0%, #14D2B8 100%);}

.instant-order {
  padding-top: 15px;
  height: 22px;
  width: 434px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 18px;
  letter-spacing: 1.45px;
  line-height: 19px;
  text-align: center;
}

.qty-input::-webkit-inner-spin-button,
.qty-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width: 15px;
}


.save-button {
	height: 53.63px;
	width: 173px;
}

.bg {
	height: 53.63px;
	width: 173px;
	background: linear-gradient(314.33deg, #645AFF 0%, #A573FF 100%);
}

.anchor{
  height: 30px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  transition: .4s;
  padding: 7px 20px;
  border-radius: 25px;
}

.buy-anchor{
  height: 35px;
  width: 105px;
  color: #FFF;
  background: linear-gradient(314.33deg, #645AFF 0%, #A573FF 100%);
  display: table;
    -moz-box-sizing: border-box;
}

/* border-radius */
.sell-anchor{
  color: black;
  background: white;
  display: table;
  border: solid 2px #D8D8D8;
  /* overflow: hidden; */
}

.span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Helvetica;
	font-size: 10px;
	letter-spacing: 2.78px;
	line-height: 20px;
}

.buy-span{

}

.sell-span{

}

.buy-anchor:hover {
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
