<div class="modal-header">
  <h4 class="modal-title" id="modal-title" align="center">INSTANT ORDER</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
  <!-- <div style="text-align:left;">Fund Name: <span style="float:right;">Carmignac Actions Europe</span></div> -->
  <div class="page-header">
    <div class="row">
      <div class="col-md-10"><span>Fund Name: Carmignac Actions Europe</span></div>
      <!-- <div class="col-md-6"><span class="text-right">Carmignac Actions Europe</span></div> -->
    </div>
  </div>

  <fa name="credit-card" size="2x"></fa>
  <label>250.090,76</label>

  <form #orderForm="ngForm" (ngSubmit)="subscribe(orderForm)" autocomplete="off" novalidate>
      <div class="form-row">
        <div class="form-group col-md-5 justify-content-start">
          <label for="numShares">NUMBER OF SHARES</label>
          <em *ngIf="orderForm.controls.numShares?.invalid && (orderForm.controls.numShares?.touched)">Required</em>
          <input (ngModel)="order.numShares" type="number" class="form-control" id="numShares" placeholder="numShares">
        </div>
        <div class="form-group col-md-1">
          <label style="color:transparent">h</label> -->
          <span>&nbsp;or&nbsp;</span>
        </div>
        <div class="form-group col-md-5 justify-content-end">
          <label for="amount">AMOUNT IN EUR</label>
          <em *ngIf="orderForm.controls.amount?.invalid && (orderForm.controls.amount?.touched)">Required</em>
          <input (ngModel)="order.amount"  type="number" step="0.01" class="form-control" id="amount" placeholder="Amount">
        </div>
      </div>
    </form>
  <!--
  <form #orderForm="ngForm" (ngSubmit)="subscribe(orderForm)" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{'error': orderForm.controls.numShares?.invalid && orderForm.controls.numShares?.touched}">
        <label for="numShares" class="control-label col-md-3">Num Shares:</label>
        <em *ngIf="orderForm.controls.numShares?.invalid && (orderForm.controls.numShares?.touched)">Required</em>
        <input (ngModel)="orderForm.numShares" name="numShares" required id="numShares" type="number"
          class="form-control col-md-3" placeholder="# Shares" />
      </div>
      <div class="form-group" [ngClass]="{'error': orderForm.controls.amount?.invalid && orderForm.controls.amount?.touched}">
          <input (ngModel)="orderForm.amount" name="amount" required id="amount" type="number" step="0.01"
          class="form-control col-md-3" placeholder="Amount" />
          <label for="orderAmount" class="control-label col-md-3">Amount:</label>
          <em *ngIf="orderForm.controls.numShares?.invalid && (orderForm.controls.numShares?.touched)">Required</em>
      </div>
  </form>
-->
  <button type="submit(" class="btn btn-success">BUY</button>
  <button type="submit" class="btn btn-danger">SELL</button>
</div>
