<div class="container rect-white-tab">
  <div class="row align-items-center">
    <div class="col">
      <label class="instant-order">INSTANT ORDER</label>
    </div>
  </div>
</div>

<div class="modal-body">
  <h2>{{fundInfo.fundName}}</h2>
  <h3>{{fundInfo.lastNav}} {{fundInfo.currency}} &nbsp; - &nbsp; {{fundInfo.lastNavDate | date}}</h3>
  <h4>{{fundInfo.isin}}</h4>
  <br>

  <div class="row justify-content-end" style="padding-right: 15px">
      <fa name="credit-card" size="2x"></fa>
      <label style="font: Helvetica; font-size:18px; padding-left: 7px"> 250.090,76</label>
  </div>
  <br>
  <form #orderForm="ngForm" (ngSubmit)="subscribe(orderForm)" autocomplete="off" novalidate>
      <div class="row" style="height: 20px;">
          <div class="col-md-6">
            <label class="form" for="numShares">NUMBER SHARES</label>
          </div>
          <div class="col-md-6">
            <label for="amount" class="pull-right">AMOUNT IN EUR</label>
          </div>
      </div>
      <div class="row justify-content-center" style="height: 10px;">
          <span>or</span>
      </div>
      <div class="row" style="height: 20px;">
          <div class="col-md-6">
              <input class="form-control qty-input" style="width: 130px;"
                (ngModel)="order.numShares" type="number" id="numShares" placeholder="numShares">
          </div>

          <div class="col-md-6">
              <input class="form-control qty-input pull-right" style="width: 130px;"
                (ngModel)="order.amount" type="number"  id="amount" placeholder="Amount">
          </div>
      </div>
  </form>

  <br>
  <br>
  <div class="modal-footer">
    <a href="#" class="anchor buy-anchor"><span class="span buy-span">BUY</span></a>
    <a href="#" class="anchor sell-anchor"><span class="span sell-span">SELL</span></a>
  </div>
</div>



