<div class="container rect-white-tab">
  <div class="row align-items-center">
    <div class="col">
      <label class="instant-order">INSTANT ORDER</label>
    </div>
  </div>
</div>

<div class="modal-body">
  <br>
  <div class="row justify-content-end" style="padding-right: 15px">
      <fa name="credit-card" size="2x"></fa>
      <label style="font: Helvetica; font-size:18px; padding-left: 7px"> 250.090,76</label>
  </div>

  <br>
  <form #orderForm="ngForm" (ngSubmit)="subscribe(orderForm)" autocomplete="off" novalidate>
    <div class="row">
      <div class="col justify-content-start">
        <label for="numShares">NUMBER OF SHARES</label>
      </div>
      <div class="col justify-content-end">
          <label for="amount">AMOUNT IN EUR</label>
      </div>
    </div>
    <div class="row">
        <div class="col justify-content-start">
            <input size="10" (ngModel)="order.numShares" type="number" class="form-control-md" id="numShares" placeholder="numShares">
        </div>
        <div class="col justify-content-end">
            <input size="10" (ngModel)="order.amount"  type="number" step="0.01" class="form-control-md" id="amount" placeholder="Amount">
        </div>
    </div>
  </form>

  <button class="bg-buy">BUY</button>
  <button class="bg-sell">SELL</button>
</div>
