<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#top">Planet Funds</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle Navigation">Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="navbar-item dropdown">
              <a class="nav-link" dropdown-toggle href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="navDropdown">
                <a class="dropdown-item" href="#">Sub-Link 1</a>
                <a class="dropdown-item" href="#">Sub-Link 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sub-Link 3</a>
              </div>
            </li>

            <li class="nav-item"><a [routerLink]="['/fiohome']" routerLinkActive="active" class="nav-link js-scroll-trigger" href="#link1">Onboard</a></li>
            <li class="nav-item"><a [routerLink]="['/fthome']" routerLinkActive="active"  class="nav-link js-scroll-trigger" href="#link2">Trade</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#link3">Other</a></li>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>

          </ul>
        </div>
      </div>
    </nav>
</header>
