<table class="table bg-info">
    <thead class="thead-light">
      <tr>
        <th scope="col">ISIN</th>
        <th scope="col">Fund Name</th>
        <th scope="col">Sub Fund Name</th>
        <th scope="col">Asset Manager</th>
        <th scope="col">Category</th>
        <th scope="col">1yr Perf</th>
        <th scope="col">1yr Vol</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FRA3718193742</td>
        <td>Carmignac European Titans Equity</td>
        <td>Carmignac Sub Fund Name</td>
        <td>Carmignac Gestion</td>
        <td>Equities</td>
        <td>14.32%</td>
        <td>20.78%</td>
        <td><button class="btn btn-default">Subscribe</button></td>
      </tr>
      <tr>
          <td>FRA3718193742</td>
          <td>Carmignac European Titans Equity</td>
          <td>Carmignac Sub Fund Name</td>
          <td>Carmignac Gestion</td>
          <td>Equities</td>
          <td>14.32%</td>
          <td>20.78%</td>
          <td><button class="btn btn-default">Subscribe</button></td>
        </tr>
        <tr>
            <td>FRA3718193742</td>
            <td>Carmignac European Titans Equity</td>
            <td>Carmignac Sub Fund Name</td>
            <td>Carmignac Gestion</td>
            <td>Equities</td>
            <td>14.32%</td>
            <td>20.78%</td>
            <td><button class="btn btn-default">Subscribe</button></td>
          </tr>
    </tbody>
  </table>
