<table class="table bg-info">
    <thead class="thead-light">
      <tr>
        <th scope="col">ISIN</th>
        <th scope="col">Fund Name</th>
        <th scope="col">Sub Fund Name</th>
        <th scope="col">Asset Manager</th>
        <th scope="col">Category</th>
        <th scope="col">1yr Perf</th>
        <th scope="col">1yr Vol</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let fund of funds">
        <td>{{fund.isin}}</td>
        <td>{{fund.fundName}}</td>
        <td>{{fund.subFundName}}</td>
        <td>{{fund.assetManager}}</td>
        <td>{{fund.category}}</td>
        <td>{{fund.oneYearPerf}}</td>
        <td>{{fund.oneYearVol}}</td>
        <!-- <td><app-trade-screen></app-trade-screen></td> -->
        <td><button class="btn btn-success" (click)="subscribe(fund.id)">Subscribe</button></td>
      </tr>
    </tbody>
  </table>

  <!-- <app-trade-screen closeOnBodyClick="false" elementId="ftOrderExecution" title="Fund Trade Order Execution"></app-trade-screen> -->
