/* You can add global styles to this file, and also import other style files */
/* .myCustomModalClass .modal-dialog {
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  background: transparent;
  width: 350px;
  height: 800px;
} */
